.page-content {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    background-color: #fcfcfc;
}

#main-content {
    flex: 2;
}
.dishCart {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border: 2px solid #b4b2b2;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.dishImg {
    border-radius: 10px;
}
.dishCart:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background-color: #f0f0f0;
}
.dishCard:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.dishContainer {
    height: 100px;
    width: 120px;

    .dishImg {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}
/* #dish-section {

} */
